body {
  background: rgba(139, 192, 216, 0.73) 80%;
}

.container {
  margin-top: 10px;
  max-width: 800px;
  font-family: "Open Sans", sans-serif;
}

.city-prompt,
.search {
  font-size: 18px;
  text-align: center;
}

.fa-location-arrow {
  padding: 0;
  border: none;
  background: none;
  color: #4284f2;
}

details {
  border: 1px solid #aaa;
  background: #fff2cd;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

.currently-in {
  padding-top: 10px;
  font-style: italic;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.current-weather {
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
}

#weather-icon {
  width: 100px;
  height: 100px;
}
.current-temperature {
  text-align: center;
  font-size: 60px;
  padding-top: 35px;
}

.temperature-details,
.current-time {
  font-size: 15px;
  font-style: italic;
  text-align: center;
  font-family: "PT Mono", monospace;
}
.current-time {
  font-size: 12px;
}
.weather-forecast {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
}
.weather-forecast-temperature {
  font-size: 20px;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.temp-type {
  font-size: 12px;
  vertical-align: top;
}

.celcius-type,
.feren-type {
  padding: 0;
  border: none;
  background: none;
  color: #4f8ba5;
  font-weight: bolder;
}

.celcius-type:hover,
.feren-type:hover {
  text-decoration: underline;
}

.weather-conditions {
  text-transform: capitalize;
  font-size: 20px;
}

.github-link {
  text-align: center;
  padding-top: 2px;
}

.weather-stats {
  list-style: none;
  padding-top: 35px;
  font-size: 15px;
  font-family: "PT Mono", monospace;
  text-align: left;
}
.fa-cloud-rain,
.fa-tint,
.fa-wind,
.fa-thermometer-full {
  font-size: 20px;
}

.units {
  display: inline-block;
  font-size: 18px;
  vertical-align: top;
  display: inline-block;
  margin-top: 8px;
}

.unit-button {
  border: none;
  background: none;
  padding-left: 0;
}
.alt-unit {
  opacity: 0.5;
}

.alt-unit:hover {
  text-decoration: underline;
}
#current-location {
  padding-left: 8px;
  padding-top: 3px;
  font-size: 25px;
}

#search-button.btn.btn-warning {
  border-radius: 0px 4px 4px 0px;
}

.fa-search {
  display: inline-block;
  padding-left: 5px;
  opacity: 0.75;
}
